$default-background: #121212;
$hovered-background: #444444;
$pressed-background: #222222;
$seperator-border-color: #444444;
$default-text: #ffffff;
$secondary-text: #121212;
$default-gutter-color: #cccccc;
$hovered-gutter-color: #aaaaaa;

.main {
    height: 100vh;
    color: black;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.top {
    flex: 0 0 auto;
}

.quill-editor {
    flex: 1 1 auto;
}

.send-from {
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
        margin: 10px;
    }
}

.actions {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    
    Button {
        margin-left: 10px;
    }
}